@model IdentityServerFour.Models.UserModel

@{
	ViewData["Title"] = "Edit User";
}
<div style="text-align: center">
	<form method="post" asp-controller="User" asp-action="SaveUser">
		<div class="text-center">
			<h1 class="display-4">Edit User</h1>
			<table  border="1" width="100%">
				<tr>
					<td>Subject Id</td>
					<td>
						@if(Model.CreateUser)
						{
							<input style="width:100%" asp-for="@Model.SubjectId" />
						}
						else
						{
							<input style="width:100%" asp-for="@Model.SubjectId" readonly />
						}
					</td>
				</tr>
				<tr>
					<td>User Name</td>
					<td>
						<input style="width:100%" asp-for="@Model.UserName" />
					</td>
				</tr>
				<tr>
					<td>Password</td>
					<td>
						<input style="width:100%" asp-for="@Model.Password" />
					</td>
				</tr>
				<tr>
					<td>Name</td>
					<td>
						<input style="width:100%" asp-for="@Model.Name" />
					</td>
				</tr>
				<tr>
					<td>GivenName</td>
					<td>
						<input style="width:100%" asp-for="@Model.GivenName" />
					</td>
				</tr>
				<tr>
					<td>FamilyName</td>
					<td>
						<input style="width:100%" asp-for="@Model.FamilyName" />
					</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>
						<input style="width:100%" asp-for="@Model.Email" />
					</td>
				</tr>
				<tr>
					<td>Website</td>
					<td>
						<input style="width:100%" asp-for="@Model.Website" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="Submit" />
						<input type="button" value="Cancel" onclick="location.href='@Url.Action("Index", "User")'" />
					</td>
				</tr>
			</table>
			<input type="hidden" asp-for="@Model.CreateUser" />
		</div>
	</form>
</div>